/*Inicio de grids*/
.Footer-grid{
    background-color: #AD8B73;
    display: grid;
    border: solid white;
    grid-template-areas: 
    "f-top"
    "f-form"
    "f-con"
    ;
    align-items: center;
}
.f-top{
    grid-area: f-top;
    display: flex;
}

.f-con{
    grid-area: f-con;
    display: flex;
}
.f-form{
     grid-area: f-form;
 }
.f-redes{
     grid-area: f-redes;
 }

 .footer-item{
    text-align: center;
   align-items: center;
 }
 .footer-item li{
    display: inline; 
    list-style-type: none; 
    margin-left: 3%;
    margin-right: 3%;
 }
.fot-cont{
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.grid-art2{
    background-color: #AD8B73;
    display: grid;
    width: 95%;
    border: solid;
    border-radius: 1em;
    color: white;
    margin: 1%;
    text-align: center;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "titulo"
    "foto"
    "cuerpo"
}
.grid-art{
    background-color: #AD8B73;
    display: grid;
    border: solid;
    border-radius: 1em;
    color: white;
    margin: 1%;
    align-items: center;
    text-align: center;
    grid-template-areas: 
    "titulo"
    "foto"
    "cuerpo"
}
.titulo{
    grid-area: titulo;
    padding: 2%;
}
.foto{
    grid-area: foto;
    width: 70%;
    padding: 2%;
    justify-content: center;
    align-content: center;
}
.cuerpo{
     grid-area: cuerpo;
     padding: 2%;
 }
.flex{
    display: flex;
    margin: 1em;
    flex-wrap: wrap;
}
.grid-contac{
    display: grid;   
    align-items: center;
    grid-template-areas: 
    "form"
    "foto-pan"
    
}
.foto-pan{
    grid-area: foto-pan; 
    text-align : center;
}
.form{
     grid-area: form;
 }
 .grid-pro{
    display: grid;
    margin: 1%;
    text-align: center;
    grid-template-areas: 
    "Producto-a"
    "Producto-b"
    "Producto-c"
    "Producto-d"
    "Producto-e"
    "Producto-f"
}
.Producto-a{
    grid-area: Producto-a;

}
.Producto-b{
    grid-area: Producto-b;
  
}
.Producto-c{
    grid-area: Producto-c;

}
.Producto-d{
    grid-area: Producto-d;

}
.Producto-f{
    grid-area: Producto-e;

}
.Producto-g{
    grid-area: Producto-f;

}
.grid-local{
    display: grid;
    margin: 1%;
    text-align: center;
    grid-template-areas: 
    "local-a"
    "local-b"
    "local-c"
    "local-d"
    "local-e"
    "local-f"
}
.local-a{
    grid-area: local-a;

}
.local-b{
    grid-area: local-b;
  
}
.local-c{
    grid-area: local-c;

}
.local-d{
    grid-area: local-d;

}
.local-f{
    grid-area: local-e;

}
.local-g{
    grid-area: local-f;

}
/*Final de grids*/