@import "bootstrap";
@import "grids";
@import "media-queries";
/*Inicio de main*/
$color-back: #614124;
.body{
    background-color: $color-back;
}
.font{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link2{
    text-decoration: none;
    color: white;
}
.link{
    text-decoration: none;
    color: white;
}
.link2:hover{
    color: #997b66;
}
.link:hover{
    color: #AD8B73;
}
.header-nombre{
    font-size: 2em;
}
.header{
     background-color: #AD8B73;
     border: solid white 2px;

}
.card-color{
       background-color: #AD8B73;
       margin: 5px;
       border-radius: 5px;
}
.card-color:hover{
    background-color: #664026;
}
.art{
    display: flex;
    flex-direction: column;
}

.flex{
    justify-content: space-around;
    flex-direction: row;
}
.grid-footer{
    display: grid;
}
.footer{
    background-color: #AD8B73;  
}
/*Final de main*/
/*Inicio Dulces*/
$dulces: (
    pringles: #ff0000,
    gongys:#008cff,
    flynn:#c000f6,
    popcorn:#f66f00,
    );
    @each $dul, $color in $dulces{
        .dul-#{$dul}{
            background-color: $color;
        }
    }
    .boton{
        border: solid 2px #bb923b;
        padding:8px 16px;
        margin: 8px;
        border-radius: 1em;
    }
    .boton-primario{
        @extend .boton;
        background-color: #e5ff00;
        border-color: #6fab00;
        border-radius: 1em;
      
    }
    @mixin size($alto,$ancho){
           height: $alto;
           width: $ancho;
         }
         .foto-dul{
             @include size(250px,200px)
         }

/*Final dulces*/
