@import "bootstrap";
@import "grids";
@import "media-queries";
/*Inicio de main*/
$color-back: #614124;
.body{
    background-color: $color-back;
}
.font{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.link2{
    text-decoration: none;
    color: white;
}
.link{
    text-decoration: none;
    color: white;
}
.link2:hover{
    color: #997b66;
}
.link:hover{
    color: #AD8B73;
}
.header-nombre{
    font-size: 2em;
}
.header{
     background-color: #AD8B73;
     border: solid white 2px;

}
.card-color{
       background-color: #AD8B73;
       margin: 5px;
       border-radius: 5px;
}
.card-color:hover{
    background-color: #664026;
}
.art{
    display: flex;
    flex-direction: column;
}

.flex{
    justify-content: space-around;
    flex-direction: row;
}
.grid-footer{
    display: grid;
}
.footer{
    background-color: #AD8B73;  
}
/*Final de main*/
